*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  &[data-mobile-nav-open='true'] {
    overflow: hidden;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.site-layout {
  display: grid;
  grid-template-rows: 1fr auto auto;
  min-height: 100dvh;
  overflow: hidden;
}

main {
  border-top: 7.5rem solid black;
  background-color: var(--white);

  & a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.artist-portfolio {
  & img {
    border-radius: 0.25rem;
    transition: scale 0.2s;

    &:hover {
      scale: 1.1;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(1200px, 86vw);

  /* @media (min-width: $breakpoint-xl) {
    width: min(1400px, 86vw);
  } */
}

.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-light);
    text-decoration: none;
  }
}

ul {
  padding: 0;
}
