---
import type { GetStaticPaths } from 'astro';
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';
import Layout from '../../layouts/Layout.astro';
// import PortableText from '../../components/PortableText.astro'
import SanityImage from '../../components/SanityImage.astro';
import type { Artist } from '../../types/artist';

interface Props {
  artist: Artist;
}

export async function getStaticPaths() {
  const artists = await sanityClient.fetch(`*[_type == "artist"]`);

  return artists.map((artist: Artist) => {
    return {
      params: { slug: artist.slug.current },
      props: { artist },
    };
  });
}

const { artist } = Astro.props as Props;
---

<Layout title={artist.name}>
  <article class="container">
    <h1>{artist.name}</h1>

    <!-- <div class="artist-image-container">
      <SanityImage className="artist-image" node={artist.image} />
    </div> -->

    {
      artist.portfolio && (
        <ul class="artist-portfolio">
          {artist.portfolio.map((image) => (
            <li>
              <button
                data-image-source={imageUrlBuilder(sanityClient)
                  .image(image.asset)
                  .url()}
              >
                <SanityImage
                  className="portfolio-image"
                  mode="cover"
                  node={image}
                />
              </button>
            </li>
          ))}
        </ul>
      )
    }
  </article>
  <div class="portfolio-background">
    <img class="big-image" />
  </div>
</Layout>

<style>
  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    border-radius: 0.25rem;
    overflow: hidden;
  }

  button {
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .artist-image-container {
  }

  .artist-image-container img {
    margin-inline: auto;
    border: 10px solid lime;
    overflow: hidden;
    border-radius: 50%;
  }

  .portfolio-background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: calc(100dvh - 7.5rem);
    width: 100dvw;
    top: 7.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;

    & img {
      max-height: 100%;
    }
  }

  .portfolio-background.open {
    display: grid;
    place-content: center;
  }
</style>

<script>
  const bigImageBg = document.querySelector('.portfolio-background');
  const bigImage = document.querySelector('.big-image');

  document.querySelectorAll('ul.artist-portfolio button').forEach((button) => {
    button.addEventListener('click', () => {
      const imgUrl = button.dataset.imageSource;

      bigImage.src = imgUrl;
      bigImageBg?.classList.add('open');
    });
  });

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') {
      bigImageBg?.classList.remove('open');
    }
  });
</script>
