---
import type { GetStaticPaths } from 'astro';
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';
import Layout from '../../layouts/Layout.astro';
// import PortableText from '../../components/PortableText.astro'
import SanityImage from '../../components/SanityImage.astro';
import type { Artist } from '../../types/artist';

export async function getStaticPaths() {
  const artists = await sanityClient.fetch(`*[_type == "artist"]`);

  return artists.map((artist: Artist) => {
    return {
      params: { slug: artist.slug.current },
      props: { artist },
    };
  });
}

const { artist } = Astro.props as Props;

interface Props {
  artist: Artist;
}
---

<Layout title={artist.name}>
  <article class="container">
    <h1>{artist.name}</h1>

    <!-- <div class="artist-image-container">
      <SanityImage className="artist-image" node={artist.image} />
    </div> -->

    {
      artist.portfolio && (
        <ul class="artist-portfolio">
          {artist.portfolio.map((image) => (
            <li>
              <button
                data-image-source={imageUrlBuilder(sanityClient)
                  .image(image.asset)
                  .url()}
              >
                <SanityImage
                  className="portfolio-image"
                  mode="cover"
                  node={image}
                />
              </button>
            </li>
          ))}
        </ul>
      )
    }
  </article>
</Layout>

<div class="portfolio-background">
  <img class="big-image" />
</div>

<style>
  article {
    padding-block: 2rem;
  }

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  li {
    border-radius: 0.25rem;
    overflow: hidden;
  }

  button {
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .artist-image-container {
  }

  .artist-image-container img {
    margin-inline: auto;
    border: 10px solid lime;
    overflow: hidden;
    border-radius: 50%;
  }

  .portfolio-background {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100dvh;
    width: 100dvw;
    inset: 0;
    padding: 2rem;
    z-index: 2000;

    & img {
      max-height: 90dvh;
    }
  }

  .portfolio-background.open {
    display: grid;
    place-content: center;
  }
</style>

<script>
  const body = document.body;
  const bigImageBg = document.querySelector('.portfolio-background');
  const bigImage = document.querySelector(
    '.big-image'
  ) as HTMLImageElement | null;

  document.querySelectorAll('ul.artist-portfolio button').forEach((button) => {
    (button as HTMLElement).addEventListener('click', () => {
      const imgUrl = (button as HTMLElement).dataset.imageSource;

      if (bigImage && imgUrl) {
        bigImage.src = imgUrl;
        body.dataset.mobileNavOpen = 'true';
        bigImageBg?.classList.add('open');
      }
    });
  });

  function closeImage() {
    if (!body || !bigImageBg) return;

    body.dataset.mobileNavOpen = 'false';
    bigImageBg.classList.remove('open');
  }

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') {
      closeImage();
    }
  });

  bigImageBg?.addEventListener('click', () => {
    closeImage();
  });
</script>
