h1,
h2,
h3,
.new-rocker-regular {
  font-family: 'New Rocker', system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
