body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-bold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-condensed-black {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-style: normal;
}
