h1,
h2,
h3,
.new-rocker-regular {
  font-family: 'New Rocker', system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 0.875;
  letter-spacing: -0.1rem;
  margin-block: 1em;
}

body {
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  margin-block: 1.5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-block: 1rem;
}
