---
import { sanityClient } from 'sanity:client';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import GoogleMap from '../components/GoogleMap.astro';
import InstagramFeed from '../components/InstagramFeed.astro';
const siteSettings = await sanityClient.fetch(`*[_type == "siteSettings"]`);

const site = siteSettings[0];
---

<Layout title={site.siteTitle} isHomePage={true}>
  <Hero />
  <!-- <h1>{site.siteTitle}</h1> -->
  <!-- <img src="/images/logo.png" alt="Mammoth American Tattoo" width="120px" /> -->
  <InstagramFeed />
  <GoogleMap />
</Layout>

<style>
  .hero-banner {
    color: white;
    align-items: center;
    flex-direction: column;
    background-image: url('/images/hero-vert.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: calc(100dvh - 9.5rem);
    width: 100dvw;
    z-index: 1;
  }

  h1 {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    line-height: 1.12;
    margin-block-start: 8rem;
    padding-block: 1rem;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    .hero-banner {
      justify-content: center;
    }

    h1 {
      margin-block-start: 0;
      font-size: 6rem;
      padding-inline: 2vw;
    }
  }
</style>
