---
const { isOpen, setIsOpen } = Astro.props;
---

<script>
  const handleClick = () => {
    setIsOpen(!isOpen);
  };
</script>

<button type="button" class="hamburger" onclick={handleClick}>
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

</style>