---

---

<script>
  const button = document.querySelector('button');
  let isOpen = false;

  const handleClick = () => {
    isOpen = !isOpen;

    if (isOpen) {
      button?.classList.add('open');
    }

    if (!isOpen) {
      button?.classList.remove('open');
    }

    console.log(isOpen);
  };

  button?.addEventListener('click', handleClick);
</script>

<button type="button" class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
</style>
