<nav>
  <ul class="nav-container">
      <li><a href="/" class="nav-item">Home</a></li>
      <li><a href="/about" class="nav-item">About</a></li>
      <li><a href="/artists" class="nav-item">Artists</a></li>
      <li><a href="/aftercare" class="nav-item">Aftercare</a></li>
      <li><a href="#" class="nav-item">Booking</a></li>
      <li><a href="#" class="nav-item">Contact</a></li>
  </ul>
</nav>

<style>
  .nav-container {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    color: #faf8f5;
    text-decoration: none;
    font-weight: bold;
  }
</style>