---
import { sanityClient } from 'sanity:client';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const siteSettings = await sanityClient.fetch(`*[_type == "siteSettings"]`);

const site = siteSettings[0];

import '../styles/index.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{site.siteTitle}</title>
    <meta name="description" content={site.siteDescription} />
  </head>
  <body>
    <div class="page-layout">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
