---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout url={frontmatter.url}>
  <article class="container">
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</Layout>
